/build/
/dist/
/KhanzaHMSServiceMobileJKNERM/dist/
/KhanzaHMSServiceMobileJKNERM copy/build/
/KhanzaHMSServiceMobileJKNERM copy/dist/
/KhanzaHMSServiceMobileJKNERM copy/nbproject/private/
/KhanzaHMSServiceMobileJKNERM_backup/build/
/KhanzaHMSServiceMobileJKNERM_backup/dist/
/KhanzaHMSServiceMobileJKNERM_backup/nbproject/private/
